/*//////////////////////////////// General CSS /////////////////////////*/
html{
  background-color: white;
}

/*//////////////////////////////////// Nav /////////////////////////*/
nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  overflow-x: hidden;
}
li{
  text-decoration: none;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 16px;
  display: block;
}
nav a:hover {
  background-color: black;
  color: #dddddd;
}
.activePage {
  background-color: grey;
  color: #dddddd;
}

/*//////////////////////////// Account for Side Nav /////////////////////////*/
.container, header, footer, main{
  margin-left: 200px;
  padding-left: 20px;
}

/*///////////////////////////////// Form /////////////////////////*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #bbbbbb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  width: 80%;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #839e99;
}
fieldset{
  border-style: dashed;
  border-color: lightsteelblue;
}
.form_container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
button{
  width: 100%;
}

/*//////////////////////////////////// Resizing /////////////////////////*/
@media screen and (max-width: 800px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  input[type=submit] {
    height: 10%;
  }
}

/*//////////////////////////////////// JQuery Slider /////////////////////////*/
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}
/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  text-align: center;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Citaton text */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

