/* General CSS */
html{
  background-color: white;
}

/* Nav */
/* Style the side navigation */
nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  overflow-x: hidden;
}


/* Side navigation links */
nav a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
nav a:hover {
  background-color: black;
  color: #dddddd;
}

nav a:active {
  background-color: grey;
  color: #dddddd;
}

/* Push everything over to account for nav */
.container, header, form, footer{
  margin-left: 200px;
  padding-left: 20px;
}

/* Grid Layout */


/* Form CSS */
form{

}
input[type=text]{

}
textarea{

}
.buttons{

}
input[type=submit]{

}

/* -- specific sizing on screen size -- */
@media (max-width: 600px) {
}

/**
Quantity buttons
Code taken from: https://embed.plnkr.co/B5waxZ/
 */
/* -- quantity box -- */
.quantity {
  display: block; }
.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}
.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: center; }
.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}
.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor:pointer;}
.quantity.buttons_added .minus {
  border-right: 0; }
.quantity.buttons_added .plus {
  border-left: 0; }
.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee; }
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }
.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none; }

/*//////////////////////////////////// JQuery Slider /////////////////////////*/
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}
/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  text-align: center;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Citaton text */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*/////////////////////////////// END JQuery Slider //////////////////////////*/
