body{
  background-color: lightsteelblue;
  color: black;
  padding: 1%;
  margin: auto;
}
html{
  background-color: white;
}
nav{
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
article, section, aside, nav{
  padding: 1%;
}
table{
  clear: both;
}
form{
  border: medium solid lightsteelblue;
  background-color: ghostwhite;
  color: black;
  padding: 1%;
  margin: auto;
}
input[type=text]{
  border: 0;
  background-color: lightgrey;
  border-bottom: medium solid black;
  width: 100%;
  color: black;
  font-size: large;
}
textarea{
  width: 100%;
}
.buttons{
  text-align: center
}
input[type=submit]{
  width: 40%;
  text-align: center;
  background-color: lightskyblue;
  color: cornsilk;
  border-color: cornsilk;

}
/* Position nav. Move nav before header and keep it there */
.positioning{
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
}
.positioning header{
  grid-area: header;
}
.positioning nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  width: 98%;
}

@media only screen and (max-width:320px)  {
  /* smartphones, iPhone, portrait 480x320 phones */
  body{
    max-width: 40em;
    line-height: 1.3em;
  }
  nav{
    font-size: 2%;
  }
  li a {
    padding: 14px 16px;
  }
  form{
    max-width: 400px;
  }
  textarea{
    height: 5em;
  }
  input[type=text] {
    height: 2em;
  }
  input[type=submit]{
    font-size: 2em;
    border-radius: .25em
  }
}
@media only screen and (max-width:481px)  {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  body{
    max-width: 60em;
    line-height: 1.3em;
  }
  nav{
    font-size: 2%;
  }
  li a {
    padding: 14px 16px;
  }
  form{
    max-width: 400px;
  }
  textarea{
    height: 5em;
  }
  input[type=text] {
    height: 2em;
  }
  input[type=submit]{
    font-size: 2em;
    border-radius: .25em
  }
}
@media only screen and (max-width:641px)  {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  body{
    max-width: 60em;
    line-height: 1.3em;
  }
  nav{
    font-size: 2em;
  }
  li a {
    padding: 14px 16px;
  }
  form{
    max-width: 400px;
  }
  textarea{
    height: 5em;
  }
  input[type=text] {
    height: 2em;
  }
  input[type=submit]{
    font-size: 2em;
    border-radius: .25em
  }
}
@media only screen and (max-width:961px)  {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  body{
    max-width: 60em;
    line-height: 1.3em;
  }
  nav{
    font-size: 2em;
  }
  li a {
    padding: 14px 16px;
  }
  form{
    max-width: 400px;
  }
  textarea{
    height: 5em;
  }
  input[type=text] {
    height: 2em;
  }
  input[type=submit]{
    font-size: 2em;
    border-radius: .25em
  }
}
@media only screen and (max-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  body{
    max-width: 60em;
    line-height: 1.3em;
  }
  nav{
    font-size: 2em;
  }
  li a {
    padding: 14px 16px;
  }
  form{
    max-width: 400px;
  }
  textarea{
    height: 5em;
  }
  input[type=text] {
    height: 2em;
  }
  input[type=submit]{
    font-size: 2em;
    border-radius: .25em
  }
}
@media only screen and (max-width:1281px) {
  /* hi-res laptops and desktops */
  body{
    max-width: 60em;
    line-height: 1.3em;
  }
  nav{
    font-size: 2em;
  }
  li a {
    padding: 14px 16px;
  }
  form{
    max-width: 400px;
  }
  textarea{
    height: 5em;
  }
  input[type=text] {
    height: 2em;
  }
  input[type=submit]{
    font-size: 2em;
    border-radius: .25em
  }
}
@media only screen and (min-width:1282px) {
  /* hi-res laptops and desktops */
  body{
    max-width: 60em;
    line-height: 1.3em;
  }
  nav{
    font-size: 2em;
  }
  li a {
    padding: 14px 16px;
  }
  form{
    max-width: 400px;
  }
  textarea{
    height: 5em;
  }
  input[type=text] {
    height: 2em;
  }
  input[type=submit]{
    font-size: 2em;
    border-radius: .25em
  }
}

.positioning nav a{
  display: inline-block;
  padding: 0 1em;
}

.positioning main{
  grid-area: main;
}

.positioning footer{
  grid-area: footer;
}

/**
Table CSS
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:hover {background-color: lightcyan;}

/**
Quantity buttons
Code taken from: https://embed.plnkr.co/B5waxZ/
 */
/* -- quantity box -- */

.quantity {
  display: inline-block; }

.quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; }

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor:pointer;}

.quantity.buttons_added .minus {
  border-right: 0; }

.quantity.buttons_added .plus {
  border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none; }
